/* font-family: "Literata", serif; */
/* font-family: "Poppins", sans-serif; */

h1 {
  text-align: center;
  font-family: "poppins" sans-serif;
}
h3 {
  text-align: center;
  font-family: "poppins", sans-serif;
}
p {
  font-family: "literata", sans-serif;
  font-size: 100px;
}
.container {
  background-color: rgba(164, 118, 207, 0.5);
  border: solid 3px rgb(164, 118, 207);
}
